.page-contain .page-section {
  background-color: var(--ion-color-light);
  margin-top: 1.5rem;
}

.page-contain .container {
  padding: 1.5rem 0;
  margin-bottom: 5rem;
}

.page-contain .main-header .main-stats,
.page-contain .main-header .timeline {
  background-color: var(--ion-color-primary-light);
  padding: 1rem;
}

.page-contain .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-contain .main-header .header-right {
  /* width: 50%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-contain .main-header .main-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 1rem 1.5rem;
}

.page-contain .main-header .main-stats .num-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-contain .main-header .main-stats .divider {
  height: 3rem;
  width: 1.6px;
  background-color: var(--ion-color-primary);
}

.page-contain .main-header .main-stats .num-stat .new-num {
  font-weight: 700;
  font-size: 1.5rem;
}

.calender-logo {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.6rem;
}

.page-contain .main-header .timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 1rem;
}

.page-contain .main-header .request-btn {
  --box-shadow: none;
  text-transform: capitalize;
  font-weight: 300;
  /* margin-left: */
}

.page-contain .main-header .request-btn .btn-caption {
  padding-right: 1rem;
}

.page-contain .main-header .request-btn .request-badge {
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-contain .main-header .timeline .timeline-label {
  display: flex;
  align-items: center;
}

.page-contain .main-header .main-stats .num-stat .stat-num {
  font-weight: 700;
  font-size: 1.5rem;
}

.page-contain .main-header .timeline .timeline-main {
  display: flex;
  align-items: center;
  width: 53%;
  justify-content: space-between;
}

.page-contain .main-header .timeline .timeline-main .dash {
  height: 2px;
  background-color: var(--ion-color-primary);
  width: 2rem;
  border-radius: none;
}

.inventory-contain .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.inventory-contain .section-header .select-contain {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  align-items: center;
  grid-gap: 1rem;
  width: 50%;
}

.approval-table .table-data .row-1 {
  display: flex;
  flex-direction: column;
}

.approval-table .table-data .row-1 .approve-msg {
  font-weight: 700;
  padding-bottom: 0.6rem;
}

.inventory-contain .main-header .main-header-left {
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 0.6fr;
  align-items: center;
  width: 60%;
  grid-gap: 0.6rem;
  /* justify-content: space-between; */
}

.inventory-contain .main-header .main-header-left .types-num {
  background-color: var(--ion-color-primary-light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inventory-contain .main-header .main-header-left .types-num .stat-num {
  font-weight: 700;
  font-size: 1.5rem;
}

.inventory-contain .main-header .main-header-left .main-stats {
  width: 100%;
}

.inventory-contain .main-header .main-header-left .header-select-contain {
  display: flex;
  justify-content: space-between;
}

.inventory-contain
  .main-header
  .main-header-left
  .header-select-contain
  .main-select-box {
  width: 100%;
  margin-right: 1rem;
}

.inventory-contain .main-header .main-header-right .inventory-btn .btn-caption {
  color: var(--ion-color-primary);
  text-transform: capitalize;
  padding-left: 0.6rem;
}

.inventory-contain .main-header .main-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-contain .main-header .main-header-right .btn-contain {
  position: relative;
}

.inventory-contain .main-header .main-header-right .btn-contain:nth-child(1) {
  margin-right: 1rem;
}

.inventory-contain .main-header .main-header-right .btn-contain .request-badge {
  position: absolute;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  font-size: 0.6rem;
  height: 1rem;
  width: 1rem;
  top: 0;
  right: 0;
  z-index: 1;
}

.inventory-contain .inventory-section .section-header {
  display: flex;
  justify-content: flex-start;
}

.inventory-contain .inventory-section .section-header .total-cost-contain {
  background-color: var(--ion-color-primary-light);
  padding: 0.8rem;
  margin-left: 1rem;
}

.inventory-contain .main-table {
  margin-top: 1rem;
}

.inventory-contain .main-table .table-header .header-row {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 1fr;
  align-items: center;
  grid-gap: 1rem;
  border: 2px solid transparent;
  border-top-color: var(--ion-color-primary-light);
  border-bottom-color: var(--ion-color-primary-light);
  border-radius: 0;
  padding: 0.6rem 1rem;
}

.inventory-contain .main-table .table-header .header-row .row .row-label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
}

.inventory-contain .main-table .table-header .header-row .row:nth-child(3) {
  display: flex;
  align-items: center;
}

.inventory-contain .main-table .table-header .header-row .row-label {
  padding-right: 0.6rem;
}

.inventory-contain .main-table .table-header .header-row .fas {
  color: var(--ion-color-primary);
}

.inventory-contain .main-table .table-data .data-row {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}

.inventory-contain .main-table .table-data .data-row .row:nth-child(2) {
  display: flex;
  align-items: center;
}

.inventory-contain .main-table .table-data .data-row .row .row-5 {
  display: flex;
}

.inventory-contain .main-table .table-data .data-row .row .status-card {
  padding: 1rem;
  background-color: var(--ion-color-primary-light);
}

.inventory-contain .main-table .table-data .data-row .row:nth-child(3) {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
}

.inventory-contain .main-table .table-data .data-row .row-2 {
  justify-content: flex-start;
}
.inventory-contain .main-table .table-data .data-row .row:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inventory-contain
  .main-table
  .table-data
  .data-row
  .row:last-child
  .active-status {
  background-color: var(--ion-color-primary-light);
  margin-bottom: 0.6rem;
}
.inventory-contain
  .main-table
  .table-data
  .data-row
  .row:last-child
  .inactive-status {
  background-color: var(--ion-color-danger-light);
}

.inventory-contain .main-table .table-data .origin-img {
  height: 2rem;
  margin-left: 0.6rem;
}

.inventory-contain
  .main-table
  .table-data
  .data-row
  .row:last-child
  .bell-icon
  path {
  fill: var(--ion-color-primary);
}

.inventory-contain .main-table .table-data .data-row .row-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inventory-contain
  .main-table
  .table-data
  .data-row
  .row:last-child
  .bell-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.6rem;
}

.inventory-contain .main-table .table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
  border: 2px solid transparent;
  border-top-color: var(--ion-color-primary-light);
}

.inventory-contain .main-table .table-footer .left-footer-content,
.inventory-contain .main-table .table-footer .right-footer-content {
  display: flex;
  align-items: center;
}

.inventory-contain
  .main-table
  .table-footer
  .right-footer-content
  .pagination-ctrl {
  display: flex;
  align-items: center;
}

.notif-date {
  padding-bottom: 0.4rem;
}
