.disposal-view-contain .container {
  padding: 1.5rem 0;
}

.disposal-view-contain .top-header {
  display: flex;
  align-items: center;
}

.disposal-view-contain .notif-view-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  margin-bottom: 5rem;
}

.disposal-view-contain .main-section {
  position: relative;
  width: 60%;
  margin-right: 1.5rem;
}

.disposal-view-contain .tracking-tab {
  width: 40%;
}

.disposal-view-contain .main-section .section-head {
  display: flex;
  /* justify-content: space-between; */
}

.disposal-view-contain .main-section .section-head .item-stat {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.disposal-view-contain .main-section .section-head .item-stat .stat-name {
  color: var(--ion-color-primary);
  padding-bottom: 1rem;
}

.disposal-view-contain .main-section .section-center {
  display: flex;
  margin: 2rem 0;
}

.disposal-view-contain .main-section .section-center .item-img {
  margin-right: 2rem;
  height: 12rem;
  width: 12rem;
}

.disposal-view-contain .main-section .section-head .item-stat .stat-name {
  font-size: 1rem;
}

.disposal-view-contain .main-section .section-head .item-stat .stat-part {
  font-size: 0.9rem;
  color: var(--ion-color-primary);
}

.disposal-view-contain .main-section .section-bottom .origin {
  display: flex;
  align-items: center;
}

.disposal-view-contain .main-section .section-bottom .stat-name {
  padding-bottom: 0;
}

.disposal-view-contain .main-section .section-bottom .origin .operator-logo {
  height: 2rem;
  width: 2rem;
}

.disposal-view-contain
  .main-section
  .section-head
  .item-stat
  .origin
  .stat-name {
  padding-bottom: 0;
}

.disposal-view-contain .main-section .section-head .item-stat .sub-matter {
  font-weight: 700;
  /* font-size: 1.1rem; */
}

.disposal-view-contain .main-section .section-bottom {
  display: flex;
  /* align-items: center; */
}

.disposal-view-contain .main-section .section-bottom .item-stat {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.disposal-view-contain .main-section .section-bottom .item-stat .stat-heading {
  padding-bottom: 1rem;
}

.disposal-view-contain .main-section .section-bottom .item-stat .stat-name {
  font-size: 1rem;
  color: var(--ion-color-primary);
}

.disposal-view-contain
  .main-section
  .section-bottom
  .item-stat
  .stat-name
  .item-id {
  font-weight: 700;
}

.disposal-view-contain .main-section .section-bottom .item-stat {
  margin-bottom: 1rem;
}

.disposal-view-contain
  .main-section
  .very-bottom-content
  .item-stat
  .status-card {
  padding: 0.6rem;
}

.disposal-view-contain .main-section .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 97%;
  margin: 0.6rem;
}

.disposal-view-contain .main-section .main-footer .stat-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disposal-view-contain .main-section .main-footer .stat-contain .attend-btn {
  --box-shadow: none;
  text-transform: capitalize;
}

.disposal-view-contain
  .main-section
  .main-footer
  .stat-contain
  .attend-btn
  .btn-caption {
  font-weight: 400;
  padding-left: 0.6rem;
}

.disposal-view-contain .main-section .main-footer .stat-contain .item-status {
  font-size: 1rem;
}

.disposal-view-contain .tracking-tab {
  padding: 0.6rem 1rem;
}

.disposal-view-contain .tracking-tab .timeline {
  margin-bottom: 1.5rem;
}

.disposal-view-contain .tracking-tab .tracking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.disposal-view-contain .tracking-tab .app-card {
  text-align: center;
  margin-bottom: 1rem;
}

.disposal-view-contain .tracking-tab .tracking-section .app-card {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.disposal-view-contain .main-section .bottom-content {
  margin-top: 1rem;
}

.disposal-view-contain .main-section .bottom-content .card-status-contain {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.disposal-view-contain .main-section .very-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.disposal-view-contain .main-section .very-bottom-content .update-disposal-btn {
  text-transform: capitalize;
  font-weight: 400;
}

.disposal-view-contain
  .main-section
  .very-bottom-content
  .update-disposal-btn
  .update-icon {
  margin-right: 0.6rem;
}

.disposal-view-contain
  .main-section
  .bottom-content
  .card-status-contain
  .status-card {
  padding: 0.6rem;
  background-color: var(--ion-color-danger-light);
  margin-right: 0.6rem;
}

.disposal-view-contain
  .main-section
  .very-bottom-content
  .item-stat-contain
  .operator-contain
  .operator-icon {
  height: 2rem;
  width: 2rem;
}

.disposal-view-contain
  .main-section
  .very-bottom-content
  .item-stat-contain
  .operator-contain
  .origin
  .stat-name {
  padding-bottom: 0;
}

.disposal-view-contain
  .main-section
  .very-bottom-content
  .item-stat-contain
  .operator-contain
  .origin {
  display: flex;
  align-items: center;
}

.disposal-view-contain .main-section .very-bottom-content .item-stat-contain {
  display: flex;
}

.disposal-view-contain
  .main-section
  .bottom-content
  .card-status-contain
  .status-card:nth-child(1) {
  background-color: var(--ion-color-primary-light);
}

.disposal-view-contain .tracking-tab .tracking-section .app-card .track-time {
  padding-bottom: 0.6rem;
}

.disposal-view-contain .tracking-tab .progress-line {
  /* display: flex; */
  height: 2rem;
  width: 2px;
  background-color: var(--ion-color-primary);
  margin: 0.6rem 0;
  /* align-self: center; */
}

.stat-heading {
  color: var(--ion-color-primary-alt);
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

.app-card {
  padding: 0.6rem;
  background-color: var(--ion-color-primary-light);
}

.app-card ion-text {
  color: var(--ion-color-primary);
}

.app-card.track-active {
  background-color: #bce9bc;
}
