.approval-view-contain .container {
  padding: 1.5rem 0;
}

.approval-view-contain .top-header {
  display: flex;
  align-items: center;
}

.stat-heading {
  color: var(--ion-color-primary-alt);
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

.approval-view-contain .approval-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.approval-view-contain .notif-view-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.approval-view-contain .main-section {
  position: relative;
  width: 60%;
  margin-right: 1.5rem;
  padding: 1rem;
}

.approval-view-contain .tracking-tab {
  width: 40%;
}

.approval-view-contain .main-section .section-head {
  display: flex;
  /* justify-content: space-between; */
}

.approval-view-contain .main-section .section-head .item-stat {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.approval-view-contain .main-section .section-head .item-stat .stat-name {
  color: var(--ion-color-primary);
  padding-bottom: 1rem;
}

.approval-view-contain .main-section .section-center {
  display: flex;
  margin: 3rem 0 5rem 0;
}

.approval-view-contain .main-section .section-center .item-img {
  margin-right: 2rem;
  height: 12rem;
  width: 12rem;
}

.approval-view-contain .main-section .section-head .item-stat .stat-name {
  font-size: 1rem;
}

.approval-view-contain .main-section .section-head .item-stat .stat-part {
  font-size: 0.9rem;
  color: var(--ion-color-primary);
}

.approval-view-contain .main-section .section-head .item-stat .origin {
  display: flex;
  align-items: center;
}

.approval-view-contain
  .main-section
  .section-head
  .item-stat
  .origin
  .stat-name {
  padding-bottom: 0;
  padding-right: 0.6rem;
}

.approval-view-contain .main-section .section-head .item-stat .sub-matter {
  font-weight: 700;
  font-size: 1.1rem;
}

.approval-view-contain .main-section .section-bottom {
  display: flex;
  align-items: center;
}

.approval-view-contain .main-section .section-bottom .item-stat {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.approval-view-contain .main-section .section-bottom .item-stat .stat-heading {
  padding-bottom: 1rem;
}

.approval-view-contain .main-section .section-bottom .item-stat .stat-name {
  font-size: 1rem;
  color: var(--ion-color-primary);
}

.approval-view-contain
  .main-section
  .section-bottom
  .item-stat
  .stat-name
  .item-id {
  font-weight: 700;
}

.approval-view-contain .main-section .main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 97%;
  margin: 3rem 1rem 1rem 1rem;
}

.approval-view-contain .main-section .main-footer .stat-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.approval-view-contain .main-section .main-footer .stat-contain .attend-btn {
  --box-shadow: none;
  text-transform: capitalize;
}

.approval-view-contain
  .main-section
  .main-footer
  .stat-contain
  .attend-btn
  .btn-caption {
  font-weight: 400;
  padding-left: 0.6rem;
}

.approval-view-contain .main-section .main-footer .stat-contain .item-status {
  font-size: 1rem;
}

.approval-view-contain .main-section .main-footer .progress-contain {
  display: flex;
  align-items: center;
}

.approval-view-contain
  .main-section
  .main-footer
  .progress-contain
  .item-status {
  padding-right: 0.6rem;
}

.approval-view-contain .tracking-tab .tracking-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.approval-view-contain .tracking-tab .app-card {
  text-align: center;
  margin-bottom: 1rem;
}

.approval-view-contain .tracking-tab .tracking-section .app-card {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.approval-view-contain .tracking-tab .tracking-section .app-card .track-time {
  padding-bottom: 0.6rem;
}

.approval-view-contain .tracking-tab .progress-line {
  /* display: flex; */
  height: 2rem;
  width: 2px;
  background-color: var(--ion-color-primary);
  margin: 0.6rem 0;
  /* align-self: center; */
}

.item-stat {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.item-stat .stat-name {
  color: var(--ion-color-primary);
  padding-bottom: 1rem;
}

/* Modal */
.inspection-modal {
  /* --width: 60%; */
  --height: 80%;
}

.task-update-form-contain {
  margin: 1rem 0;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  height: 100%;
}

.form-head {
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

.inspection-modal .top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.inspection-modal .top-content .modal-top-header {
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  align-self: center;
}

.inspection-modal .top-content .modal-header {
  font-weight: 700;
  font-size: 1.2rem;
}

.inspection-modal .top-content .modal-top-header .edit-icon {
  font-size: 1.1rem;
  padding-right: 0.6rem;
}

.task-update-form-contain .form-contain {
  margin-top: 1.5rem;
  display: block;
  margin-bottom: 2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-gap: 1.5rem; */
  /* align-items: center; */
}

.task-update-form-contain .form-contain .status-select {
  background-color: var(--ion-color-primary-light);
  margin-top: 0.6rem;
}

.task-update-form-contain .form-contain .input-field {
  --background: var(--ion-color-primary-light);
  --placeholder-color: var(--ion-color-primary-alt);
  --color: var(--ion-color-primary);
  margin-top: 0.6rem;
  border-radius: 6px;
}

.task-update-form-contain .form-contain .form-grp {
  margin-bottom: 1.5rem;
}

.task-update-form-contain .form-contain .form-grp:last-child .input-field {
  display: flex;
  justify-content: space-between;
}

.task-update-form-contain .btn-grp {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  padding: 0 1rem;
}

.task-update-form-contain .btn-grp .form-btn {
  text-transform: capitalize;
}

/* .form-grp {
  margin-bottom: 1rem;
} */
